---
import { Clipboard, ExternalLink, Trash } from 'lucide-react';

import type { Url } from '@/domain';

import { Button } from '@/presentation/components/ui/button';
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from '@/presentation/components/ui/card';
import DeleteUrlDialog from '@/presentation/components/url/DeleteUrlDialog';
import MyShortUrlCopyButton from '@/presentation/components/url/MyShortUrlCopyButton';
import MyShortUrlNameTooltip from '@/presentation/components/url/MyShortUrlNameTooltip';

interface Props {
  url: Url
}

const { url } = Astro.props;

---
<Card key={url.id}>
  <CardHeader>
    <div class="flex flex-col space-y-1.5">
      <div class="flex items-center space-x-2">
        {url.name && url.name.length > 30 ? (
          <MyShortUrlNameTooltip name={url.name} client:only>
            <CardTitle slot="fallback" className="text-lg truncate flex-1">
              {url.name || `/${url.shortId}`}
            </CardTitle>
          </MyShortUrlNameTooltip>
        ) : (
          <CardTitle className="text-lg truncate flex-1">
            {url.name || `/${url.shortId}`}
          </CardTitle>
        )}
        {url.name && (
          <span class="text-sm text-muted-foreground shrink-0">
            {`/${url.shortId}`}
          </span>
        )}
      </div>
      <CardDescription className="truncate">{url.originalUrl}</CardDescription>
    </div>
  </CardHeader>
  <CardFooter className="flex justify-between">
    <div class="flex gap-2">
      <MyShortUrlCopyButton client:only id={url.shortId}>
        <Button slot="fallback" disabled variant="outline" size="sm">
          <Clipboard />
        </Button>
      </MyShortUrlCopyButton>
      <a href={url.originalUrl} target="_blank">
        <Button aria-label="Navigate" variant="outline" size="sm">
          <ExternalLink />
        </Button>
      </a>
    </div>
    <DeleteUrlDialog client:only id={url.id}>
      <Button slot="fallback" disabled className="border-red-500" variant="outline" size="sm">
        <Trash className="text-red-500" />
      </Button>
    </DeleteUrlDialog>
  </CardFooter>
</Card>