---
import HomeLayout from '@/presentation/layouts/HomeLayout.astro';
import CreateShortUrlDialog from '@/presentation/components/url/CreateShortUrlDialog';
import MyShortUrlCards from '@/presentation/components/url/MyShortUrlCards.astro';
import MyShortUrlCardsSkeleton from '@/presentation/components/url/MyShortUrlCardsSkeleton.astro';
import UrlSearchBar from '@/presentation/components/url/UrlSearchBar';
import { Button, Input } from '@/presentation/styled-components';

const defaultPageNumber = 1;
const defaultLimit = 9;
const defaultSearchTerm = '';

const url = new URL(Astro.request.url);
const pageParam = url.searchParams.get('page');
const limitParam = url.searchParams.get('limit');
const searchParam = url.searchParams.get('search');

const pageNumber = pageParam ? parseInt(pageParam, 10) : defaultPageNumber;
const limit = limitParam ? parseInt(limitParam, 10) : defaultLimit;
const search = searchParam ? searchParam : defaultSearchTerm;

---
<HomeLayout>
  <div class="container mx-auto p-4 self-start">
    <a href="/"><h1 class="text-2xl font-bold mb-8">Dashboard</h1></a>
    <div class="flex justify-between items-center mb-6 gap-4">
      <UrlSearchBar
        searchTerm={search}
        pageNumber={defaultPageNumber}
        limit={defaultLimit}
        transition:persist
        client:only
      >
        <div class="flex-grow" slot="fallback">
          <Input
            disabled
            type="text"
            placeholder="Loading..."
            className="w-full"
          />
        </div>
      </UrlSearchBar>
      <CreateShortUrlDialog client:only>
        <Button slot="fallback" disabled className="whitespace-nowrap">Loading...</Button>
      </CreateShortUrlDialog>
    </div>
    <MyShortUrlCards server:defer pageNumber={pageNumber} limit={limit} search={search}>
      <MyShortUrlCardsSkeleton slot="fallback" cardsNumber={9} />
    </MyShortUrlCards>
  </div>
</HomeLayout>
